<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="/static/css/invalid.css" rel="stylesheet">
  </head>
    
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">X</i>
      </div>
        <h1>Danger</h1>
        <p>Entered Invalid Credentials</p>
        <button > <ul><li style = "list-style: None"></ul>
            <a  style ="color:black; text-decoration : None" 
                href="/auth/login"> index
            </a>  
            </li></button><br> 
      </div>
    </body>
</html>