<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="/static/css/reguserexists.css" rel="stylesheet">
  </head>
  
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">!</i>
      </div>
        <h1>Warning</h1>
        <p>User With This Email Already Exists!</p>
        <button  class="btn2"> <ul><li style = "list-style: None"></ul>
            <a  style ="color:black; text-decoration : None" 
                href="/auth/login"> index
            </a>  
            </li></button><br>
      </div>
    </body>
</html>